.departments {
  padding: 90px 50px;
  background: linear-gradient(to bottom, #f8f9fb, #eef1f5);
  text-align: center;
}

.dept-heading {
  font-size: 44px;
  font-weight: 800;
  margin-bottom: 50px;
  color: #070707;
  position: relative;
  display: inline-block;
}

.dept-heading::after {
  content: "";
  width: 70px;
  height: 5px;
  /* background: linear-gradient(45deg, #ff3c00, #ff7a00); */
  display: block;
  margin: 12px auto 0;
  border-radius: 4px;
}

.dept-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 25px;
  max-width: 1200px;
  margin: 0 auto;
}

.dept-card {
  background: #ffffff;
  border-radius: 16px;
  overflow: hidden;
  box-shadow: 0 12px 28px rgba(0, 0, 0, 0.06);
  transition: all 0.3s ease;
  cursor: pointer;
}

.dept-card:hover {
  transform: translateY(-8px);
  box-shadow: 0 18px 40px rgba(0, 0, 0, 0.12);
}

.dept-image img {
  width: 100%;
  height: 170px;
  object-fit: cover;
  transition: transform 0.4s ease;
}

.dept-card:hover .dept-image img {
  transform: scale(1.05);
}

.dept-title {
  padding: 18px 15px;
  font-size: 15px;
  font-weight: 600;
  text-align: center;
  color: #1f1f1f;
  min-height: 75px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.3s ease;
}

.dept-card:hover .dept-title {
  color: #038279;
}

@media (max-width: 1200px) {
  .dept-container {
    grid-template-columns: repeat(2, 1fr);
  }
}


@media (max-width: 600px) {
  .departments {
    padding: 60px 20px;
  }

  .dept-heading {
    font-size: 24px;
  }

  .dept-container {
    grid-template-columns: 1fr;   
    gap: 20px;
  }

  .dept-image img {
    height: 180px;
  }

  .dept-title {
    font-size: 14px;
    padding: 15px;
    min-height: auto;
  }
}
