.leaders-section {
  padding: 80px 40px;
  background: #f4f6f9;
  text-align: center;
}

.leaders-heading {
  font-size: 54px;
  margin-bottom: 50px;
  color: #0b2545;
  font-weight: 700;
}

.leaders-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 25px;
  max-width: 1200px;
  margin: auto;
  align-items: stretch;
}

.leader-card {
  background: #ffffff;
  border-radius: 14px;
  overflow: hidden;
  box-shadow: 0 5px 15px rgba(0,0,0,0.06);
  display: flex;
  flex-direction: column;
  height: 100%;
  transition: all 0.3s ease;
}

.leader-card:hover {
  transform: translateY(-6px);
  box-shadow: 0 15px 30px rgba(0,0,0,0.12);
}

.leader-card img {
  width: 100%;
  height: 170px;
  object-fit: cover;
}

.leader-content {
  padding: 15px;
  display: flex;
  flex-direction: column;
  flex: 1;
}

.leader-content h3 {
  font-size: 15px;
  margin-bottom: 5px;
  color: #0b2545;
}

.leader-content span {
  font-size: 13px;
  color: #b22222;
  font-weight: 600;
}

.leader-content p {
  font-size: 12px;
  margin: 8px 0 12px;
  color: #555555; 
  line-height: 1.4;
  flex-grow: 1;  
}

.read-btn {
  background: #bd2424;
  border: none;
  color: white;
  padding: 4px 10px;
  border-radius: 14px;
  font-size: 11px;
  cursor: pointer;

  margin: 0 auto;
  margin-top: auto;   

  transition: 0.3s ease;
}

.read-btn:hover {
  background: #8f1b1b;
  transform: scale(1.05);
}

@media (max-width: 1100px) {
  .leaders-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 600px) {
  .leaders-container {
    grid-template-columns: 1fr;
  }

  .leaders-section {
    padding: 60px 20px;
  }

  .leaders-heading {
    font-size: 36px;
  }
}